# Gradle
.gradle
build/

captures

/local.properties

# IntelliJ .idea folder
.idea/libraries
.idea/inspectionProfiles
.idea/caches
.idea/*.xml
/.idea/jarRepositories.xml
gradle.xml
*.iml

# General
.DS_Store
.externalNativeBuild
